<div class="container">

  <div class="form-image">
    <img src="/assets/img/pet.png" alt="">
  </div>

  <div class="form">

    <form action="#">
      <div class="form-header">
        <div class="title">
          <h1>{{title}}</h1>
        </div>
      </div>

      <div class="input-group">

        <div class="input-box">
          <label for="name">Nome:</label>
          <input id="name" type="text" name="name">
        </div>


          <select class="form-select" aria-label="Default select example">
            <option selected>Raça</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>

      <div class="continue-button">
        <button type="submit"> Salvar cadastro </button>
      </div>
    </form>
  </div>
</div>
